
body{
	background-color: #EA8B8B;
	margin:0 auto;
	
}



#game{
	
	background-color: #ebebeb;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
	
	

}

#poll{
	
	background-color: #49D7A3;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width: 300px;
	
	
}

#yes, #no{
	background-color: #49B1D7;
	border: solid 1px;
	width: 32px;
	text-align: center;
}







